node-red/flow_simulador_pm10.json
[
  {
    "id": "inject_json_trigger",
    "type": "inject",
    "z": "1",
    "name": "Iniciar simulação",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 120,
    "y": 100,
    "wires": [
      [
        "file_in_json"
      ]
    ]
  },
  {
    "id": "file_in_json",
    "type": "file in",
    "z": "1",
    "name": "Ler arquivo JSON PM10",
    "filename": "/data/cetesb_osasco_mp10_2024.json",
    "format": "utf8",
    "chunk": false,
    "sendError": false,
    "encoding": "none",
    "x": 340,
    "y": 100,
    "wires": [
      [
        "json_parse"
      ]
    ]
  },
  {
    "id": "json_parse",
    "type": "json",
    "z": "1",
    "name": "Converter JSON → Array",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 580,
    "y": 100,
    "wires": [
      [
        "split_array"
      ]
    ]
  },
  {
    "id": "split_array",
    "type": "split",
    "z": "1",
    "name": "Separar objetos",
    "splt": "\\n",
    "spltType": "str",
    "arraySplt": 1,
    "stream": false,
    "addname": "",
    "x": 800,
    "y": 100,
    "wires": [
      [
        "delay_60s"
      ]
    ]
  },
  {
    "id": "delay_60s",
    "type": "delay",
    "z": "1",
    "name": "Enviar a cada 60s",
    "pauseType": "rate",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "60",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 1030,
    "y": 100,
    "wires": [
      [
        "mqtt_out"
      ]
    ]
  },
  {
    "id": "mqtt_out",
    "type": "mqtt out",
    "z": "1",
    "name": "Publicar em MQTT",
    "topic": "iot/ar/estacao01/pm10",
    "qos": "",
    "retain": "",
    "broker": "broker_mqtt",
    "x": 1250,
    "y": 100,
    "wires": []
  },
  {
    "id": "broker_mqtt",
    "type": "mqtt-broker",
    "name": "Mosquitto Local",
    "broker": "localhost",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": true,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  }
]