node-red/flow_simulador_9sensores_com_json_real.json
[
  {
    "id": "filein-pm10",
    "type": "file in",
    "z": "flow_simulador_9sensores",
    "name": "Leitura pm10",
    "filename": "/var/snap/node-red/common/data/cetesb_osasco_mp10_2024.json",
    "format": "utf8",
    "chunk": false,
    "sendError": false,
    "encoding": "none",
    "x": 200,
    "y": 100,
    "wires": [
      [
        "json-pm10"
      ]
    ]
  },
  {
    "id": "json-pm10",
    "type": "json",
    "z": "flow_simulador_9sensores",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 400,
    "y": 100,
    "wires": [
      [
        "change-pm10"
      ]
    ]
  },
  {
    "id": "change-pm10",
    "type": "change",
    "z": "flow_simulador_9sensores",
    "name": "Set topic pm10",
    "rules": [
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "pm10",
        "tot": "str"
      }
    ],
    "x": 600,
    "y": 100,
    "wires": [
      [
        "function-aggregate"
      ]
    ]
  },
  {
    "id": "filein-pm25",
    "type": "file in",
    "z": "flow_simulador_9sensores",
    "name": "Leitura pm25",
    "filename": "/var/snap/node-red/common/data/cetesb_osasco_mp25_2024.json",
    "format": "utf8",
    "chunk": false,
    "sendError": false,
    "encoding": "none",
    "x": 200,
    "y": 180,
    "wires": [
      [
        "json-pm25"
      ]
    ]
  },
  {
    "id": "json-pm25",
    "type": "json",
    "z": "flow_simulador_9sensores",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 400,
    "y": 180,
    "wires": [
      [
        "change-pm25"
      ]
    ]
  },
  {
    "id": "change-pm25",
    "type": "change",
    "z": "flow_simulador_9sensores",
    "name": "Set topic pm25",
    "rules": [
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "pm25",
        "tot": "str"
      }
    ],
    "x": 600,
    "y": 180,
    "wires": [
      [
        "function-aggregate"
      ]
    ]
  },
  {
    "id": "filein-o3",
    "type": "file in",
    "z": "flow_simulador_9sensores",
    "name": "Leitura o3",
    "filename": "/var/snap/node-red/common/data/cetesb_carapicuiba_o3_2024.json",
    "format": "utf8",
    "chunk": false,
    "sendError": false,
    "encoding": "none",
    "x": 200,
    "y": 260,
    "wires": [
      [
        "json-o3"
      ]
    ]
  },
  {
    "id": "json-o3",
    "type": "json",
    "z": "flow_simulador_9sensores",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 400,
    "y": 260,
    "wires": [
      [
        "change-o3"
      ]
    ]
  },
  {
    "id": "change-o3",
    "type": "change",
    "z": "flow_simulador_9sensores",
    "name": "Set topic o3",
    "rules": [
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "o3",
        "tot": "str"
      }
    ],
    "x": 600,
    "y": 260,
    "wires": [
      [
        "function-aggregate"
      ]
    ]
  },
  {
    "id": "filein-no2",
    "type": "file in",
    "z": "flow_simulador_9sensores",
    "name": "Leitura no2",
    "filename": "/var/snap/node-red/common/data/cetesb_osasco_no2_2024.json",
    "format": "utf8",
    "chunk": false,
    "sendError": false,
    "encoding": "none",
    "x": 200,
    "y": 340,
    "wires": [
      [
        "json-no2"
      ]
    ]
  },
  {
    "id": "json-no2",
    "type": "json",
    "z": "flow_simulador_9sensores",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 400,
    "y": 340,
    "wires": [
      [
        "change-no2"
      ]
    ]
  },
  {
    "id": "change-no2",
    "type": "change",
    "z": "flow_simulador_9sensores",
    "name": "Set topic no2",
    "rules": [
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "no2",
        "tot": "str"
      }
    ],
    "x": 600,
    "y": 340,
    "wires": [
      [
        "function-aggregate"
      ]
    ]
  },
  {
    "id": "filein-so2",
    "type": "file in",
    "z": "flow_simulador_9sensores",
    "name": "Leitura so2",
    "filename": "/var/snap/node-red/common/data/cetesb_osasco_so2_2024.json",
    "format": "utf8",
    "chunk": false,
    "sendError": false,
    "encoding": "none",
    "x": 200,
    "y": 420,
    "wires": [
      [
        "json-so2"
      ]
    ]
  },
  {
    "id": "json-so2",
    "type": "json",
    "z": "flow_simulador_9sensores",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 400,
    "y": 420,
    "wires": [
      [
        "change-so2"
      ]
    ]
  },
  {
    "id": "change-so2",
    "type": "change",
    "z": "flow_simulador_9sensores",
    "name": "Set topic so2",
    "rules": [
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "so2",
        "tot": "str"
      }
    ],
    "x": 600,
    "y": 420,
    "wires": [
      [
        "function-aggregate"
      ]
    ]
  },
  {
    "id": "filein-co",
    "type": "file in",
    "z": "flow_simulador_9sensores",
    "name": "Leitura co",
    "filename": "/var/snap/node-red/common/data/cetesb_osasco_co_2024.json",
    "format": "utf8",
    "chunk": false,
    "sendError": false,
    "encoding": "none",
    "x": 200,
    "y": 500,
    "wires": [
      [
        "json-co"
      ]
    ]
  },
  {
    "id": "json-co",
    "type": "json",
    "z": "flow_simulador_9sensores",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 400,
    "y": 500,
    "wires": [
      [
        "change-co"
      ]
    ]
  },
  {
    "id": "change-co",
    "type": "change",
    "z": "flow_simulador_9sensores",
    "name": "Set topic co",
    "rules": [
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "co",
        "tot": "str"
      }
    ],
    "x": 600,
    "y": 500,
    "wires": [
      [
        "function-aggregate"
      ]
    ]
  },
  {
    "id": "filein-temperatura",
    "type": "file in",
    "z": "flow_simulador_9sensores",
    "name": "Leitura temperatura",
    "filename": "/var/snap/node-red/common/data/cetesb_carapicuiba_temperature_2024.json",
    "format": "utf8",
    "chunk": false,
    "sendError": false,
    "encoding": "none",
    "x": 200,
    "y": 580,
    "wires": [
      [
        "json-temperatura"
      ]
    ]
  },
  {
    "id": "json-temperatura",
    "type": "json",
    "z": "flow_simulador_9sensores",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 400,
    "y": 580,
    "wires": [
      [
        "change-temperatura"
      ]
    ]
  },
  {
    "id": "change-temperatura",
    "type": "change",
    "z": "flow_simulador_9sensores",
    "name": "Set topic temperatura",
    "rules": [
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "temperatura",
        "tot": "str"
      }
    ],
    "x": 600,
    "y": 580,
    "wires": [
      [
        "function-aggregate"
      ]
    ]
  },
  {
    "id": "filein-umidade",
    "type": "file in",
    "z": "flow_simulador_9sensores",
    "name": "Leitura umidade",
    "filename": "/var/snap/node-red/common/data/cetesb_carapicuiba_humidity_2024.json",
    "format": "utf8",
    "chunk": false,
    "sendError": false,
    "encoding": "none",
    "x": 200,
    "y": 660,
    "wires": [
      [
        "json-umidade"
      ]
    ]
  },
  {
    "id": "json-umidade",
    "type": "json",
    "z": "flow_simulador_9sensores",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 400,
    "y": 660,
    "wires": [
      [
        "change-umidade"
      ]
    ]
  },
  {
    "id": "change-umidade",
    "type": "change",
    "z": "flow_simulador_9sensores",
    "name": "Set topic umidade",
    "rules": [
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "umidade",
        "tot": "str"
      }
    ],
    "x": 600,
    "y": 660,
    "wires": [
      [
        "function-aggregate"
      ]
    ]
  },
  {
    "id": "filein-pressao",
    "type": "file in",
    "z": "flow_simulador_9sensores",
    "name": "Leitura pressao",
    "filename": "/var/snap/node-red/common/data/cetesb_carapicuiba_pressure_2024.json",
    "format": "utf8",
    "chunk": false,
    "sendError": false,
    "encoding": "none",
    "x": 200,
    "y": 740,
    "wires": [
      [
        "json-pressao"
      ]
    ]
  },
  {
    "id": "json-pressao",
    "type": "json",
    "z": "flow_simulador_9sensores",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 400,
    "y": 740,
    "wires": [
      [
        "change-pressao"
      ]
    ]
  },
  {
    "id": "change-pressao",
    "type": "change",
    "z": "flow_simulador_9sensores",
    "name": "Set topic pressao",
    "rules": [
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "pressao",
        "tot": "str"
      }
    ],
    "x": 600,
    "y": 740,
    "wires": [
      [
        "function-aggregate"
      ]
    ]
  },
  {
    "id": "function-aggregate",
    "type": "function",
    "z": "flow_simulador_9sensores",
    "name": "Agregador de sensores",
    "func": "\nlet index = flow.get(\"index\") || 0;\nlet buffers = flow.get(\"buffers\") || {};\nbuffers[msg.topic] = msg.payload;\nflow.set(\"buffers\", buffers);\n\nlet sensores = [\"pm10\", \"pm25\", \"o3\", \"no2\", \"so2\", \"co\", \"temperatura\", \"umidade\", \"pressao\"];\nif (sensores.every(s => buffers[s])) {\n    let registro = {\n        timestamp: buffers[\"pm25\"][index].timestamp,\n        pm25: buffers[\"pm25\"][index].valor,\n        pm10: buffers[\"pm10\"][index].valor,\n        o3: buffers[\"o3\"][index].valor,\n        no2: buffers[\"no2\"][index].valor,\n        so2: buffers[\"so2\"][index].valor,\n        co: buffers[\"co\"][index].valor,\n        temperatura: buffers[\"temperatura\"][index].valor,\n        umidade: buffers[\"umidade\"][index].valor,\n        pressao: buffers[\"pressao\"][index].valor\n    };\n    flow.set(\"index\", index + 1);\n    msg.payload = registro;\n    return msg;\n}\nreturn null;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 850,
    "y": 500,
    "wires": [
      [
        "debug-sim",
        "mqtt-out"
      ]
    ]
  },
  {
    "id": "debug-sim",
    "type": "debug",
    "z": "flow_simulador_9sensores",
    "name": "Payload combinado",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1050,
    "y": 460,
    "wires": []
  },
  {
    "id": "mqtt-out",
    "type": "mqtt out",
    "z": "flow_simulador_9sensores",
    "name": "Enviar via MQTT",
    "topic": "airq/device/esp32_001",
    "qos": "",
    "retain": "",
    "broker": "mqtt-broker-config",
    "x": 1050,
    "y": 540,
    "wires": []
  },
  {
    "id": "mqtt-broker-config",
    "type": "mqtt-broker",
    "name": "Broker MQTT",
    "broker": "localhost",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  }
]