node-red/flow_simulador_completo_validacao_consistencia.json
[
    {
        "id": "eccd60802d954cb5",
        "type": "tab",
        "label": "Simulador IoT - Valida\u00e7\u00e3o Consist\u00eancia",
        "disabled": false,
        "info": ""
    },
    {
        "id": "filein-pm10",
        "type": "file in",
        "z": "eccd60802d954cb5",
        "name": "Leitura pm10",
        "filename": "/var/snap/node-red/common/data/station_01/cetesb_osasco_mp10_2024.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 300,
        "y": 80,
        "wires": [
            [
                "json-pm10"
            ]
        ]
    },
    {
        "id": "json-pm10",
        "type": "json",
        "z": "eccd60802d954cb5",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 500,
        "y": 80,
        "wires": [
            [
                "change-pm10"
            ]
        ]
    },
    {
        "id": "change-pm10",
        "type": "change",
        "z": "eccd60802d954cb5",
        "name": "Set topic pm10",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "pm10",
                "tot": "str"
            }
        ],
        "x": 700,
        "y": 80,
        "wires": [
            [
                "function-aggregate"
            ]
        ]
    },
    {
        "id": "filein-pm25",
        "type": "file in",
        "z": "eccd60802d954cb5",
        "name": "Leitura pm25",
        "filename": "/var/snap/node-red/common/data/station_01/cetesb_osasco_mp25_2024.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 300,
        "y": 160,
        "wires": [
            [
                "json-pm25"
            ]
        ]
    },
    {
        "id": "json-pm25",
        "type": "json",
        "z": "eccd60802d954cb5",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 500,
        "y": 160,
        "wires": [
            [
                "change-pm25"
            ]
        ]
    },
    {
        "id": "change-pm25",
        "type": "change",
        "z": "eccd60802d954cb5",
        "name": "Set topic pm25",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "pm25",
                "tot": "str"
            }
        ],
        "x": 700,
        "y": 160,
        "wires": [
            [
                "function-aggregate"
            ]
        ]
    },
    {
        "id": "filein-o3",
        "type": "file in",
        "z": "eccd60802d954cb5",
        "name": "Leitura o3",
        "filename": "/var/snap/node-red/common/data/station_01/cetesb_carapicuiba_o3_2024.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 300,
        "y": 240,
        "wires": [
            [
                "json-o3"
            ]
        ]
    },
    {
        "id": "json-o3",
        "type": "json",
        "z": "eccd60802d954cb5",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 500,
        "y": 240,
        "wires": [
            [
                "change-o3"
            ]
        ]
    },
    {
        "id": "change-o3",
        "type": "change",
        "z": "eccd60802d954cb5",
        "name": "Set topic o3",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "o3",
                "tot": "str"
            }
        ],
        "x": 700,
        "y": 240,
        "wires": [
            [
                "function-aggregate"
            ]
        ]
    },
    {
        "id": "filein-no2",
        "type": "file in",
        "z": "eccd60802d954cb5",
        "name": "Leitura no2",
        "filename": "/var/snap/node-red/common/data/station_01/cetesb_osasco_no2_2024.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 300,
        "y": 320,
        "wires": [
            [
                "json-no2"
            ]
        ]
    },
    {
        "id": "json-no2",
        "type": "json",
        "z": "eccd60802d954cb5",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 500,
        "y": 320,
        "wires": [
            [
                "change-no2"
            ]
        ]
    },
    {
        "id": "change-no2",
        "type": "change",
        "z": "eccd60802d954cb5",
        "name": "Set topic no2",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "no2",
                "tot": "str"
            }
        ],
        "x": 700,
        "y": 320,
        "wires": [
            [
                "function-aggregate"
            ]
        ]
    },
    {
        "id": "filein-so2",
        "type": "file in",
        "z": "eccd60802d954cb5",
        "name": "Leitura so2",
        "filename": "/var/snap/node-red/common/data/station_01/cetesb_osasco_so2_2024.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 300,
        "y": 400,
        "wires": [
            [
                "json-so2"
            ]
        ]
    },
    {
        "id": "json-so2",
        "type": "json",
        "z": "eccd60802d954cb5",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 500,
        "y": 400,
        "wires": [
            [
                "change-so2"
            ]
        ]
    },
    {
        "id": "change-so2",
        "type": "change",
        "z": "eccd60802d954cb5",
        "name": "Set topic so2",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "so2",
                "tot": "str"
            }
        ],
        "x": 700,
        "y": 400,
        "wires": [
            [
                "function-aggregate"
            ]
        ]
    },
    {
        "id": "filein-co",
        "type": "file in",
        "z": "eccd60802d954cb5",
        "name": "Leitura co",
        "filename": "/var/snap/node-red/common/data/station_01/cetesb_osasco_co_2024.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 300,
        "y": 480,
        "wires": [
            [
                "json-co"
            ]
        ]
    },
    {
        "id": "json-co",
        "type": "json",
        "z": "eccd60802d954cb5",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 500,
        "y": 480,
        "wires": [
            [
                "change-co"
            ]
        ]
    },
    {
        "id": "change-co",
        "type": "change",
        "z": "eccd60802d954cb5",
        "name": "Set topic co",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "co",
                "tot": "str"
            }
        ],
        "x": 700,
        "y": 480,
        "wires": [
            [
                "function-aggregate"
            ]
        ]
    },
    {
        "id": "filein-temperatura",
        "type": "file in",
        "z": "eccd60802d954cb5",
        "name": "Leitura temperatura",
        "filename": "/var/snap/node-red/common/data/station_01/cetesb_carapicuiba_temperature_2024.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 300,
        "y": 560,
        "wires": [
            [
                "json-temperatura"
            ]
        ]
    },
    {
        "id": "json-temperatura",
        "type": "json",
        "z": "eccd60802d954cb5",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 500,
        "y": 560,
        "wires": [
            [
                "change-temperatura"
            ]
        ]
    },
    {
        "id": "change-temperatura",
        "type": "change",
        "z": "eccd60802d954cb5",
        "name": "Set topic temperatura",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "temperatura",
                "tot": "str"
            }
        ],
        "x": 700,
        "y": 560,
        "wires": [
            [
                "function-aggregate"
            ]
        ]
    },
    {
        "id": "filein-umidade",
        "type": "file in",
        "z": "eccd60802d954cb5",
        "name": "Leitura umidade",
        "filename": "/var/snap/node-red/common/data/station_01/cetesb_carapicuiba_humidity_2024.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 300,
        "y": 640,
        "wires": [
            [
                "json-umidade"
            ]
        ]
    },
    {
        "id": "json-umidade",
        "type": "json",
        "z": "eccd60802d954cb5",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 500,
        "y": 640,
        "wires": [
            [
                "change-umidade"
            ]
        ]
    },
    {
        "id": "change-umidade",
        "type": "change",
        "z": "eccd60802d954cb5",
        "name": "Set topic umidade",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "umidade",
                "tot": "str"
            }
        ],
        "x": 700,
        "y": 640,
        "wires": [
            [
                "function-aggregate"
            ]
        ]
    },
    {
        "id": "filein-pressao",
        "type": "file in",
        "z": "eccd60802d954cb5",
        "name": "Leitura pressao",
        "filename": "/var/snap/node-red/common/data/station_01/cetesb_carapicuiba_pressure_2024.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 300,
        "y": 720,
        "wires": [
            [
                "json-pressao"
            ]
        ]
    },
    {
        "id": "json-pressao",
        "type": "json",
        "z": "eccd60802d954cb5",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 500,
        "y": 720,
        "wires": [
            [
                "change-pressao"
            ]
        ]
    },
    {
        "id": "change-pressao",
        "type": "change",
        "z": "eccd60802d954cb5",
        "name": "Set topic pressao",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "pressao",
                "tot": "str"
            }
        ],
        "x": 700,
        "y": 720,
        "wires": [
            [
                "function-aggregate"
            ]
        ]
    },
    {
        "id": "function-aggregate",
        "type": "function",
        "z": "eccd60802d954cb5",
        "name": "Agregador de sensores (valida\u00e7\u00e3o com null)",
        "func": "\nconst sensores = [\"pm10\", \"pm25\", \"o3\", \"no2\", \"so2\", \"co\", \"temperatura\", \"umidade\", \"pressao\"];\nlet index = flow.get(\"index\") || 0;\nlet buffers = flow.get(\"buffers\") || {};\nbuffers[msg.topic] = msg.payload;\nflow.set(\"buffers\", buffers);\n\nif (sensores.every(s => Array.isArray(buffers[s]))) {\n    let timestamp = null;\n    if (buffers[\"pm25\"] && buffers[\"pm25\"][index]) {\n        timestamp = buffers[\"pm25\"][index].timestamp;\n    } else {\n        return null;\n    }\n\n    let registro = { timestamp };\n    sensores.forEach(sensor => {\n        let valor = null;\n        if (Array.isArray(buffers[sensor]) && buffers[sensor][index]) {\n            valor = buffers[sensor][index].valor;\n        }\n        registro[sensor] = valor;\n    });\n\n    flow.set(\"index\", index + 1);\n    msg.payload = registro;\n    return msg;\n}\nreturn null;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1000,
        "y": 400,
        "wires": [
            [
                "debug-sim",
                "mqtt-out"
            ]
        ]
    },
    {
        "id": "debug-sim",
        "type": "debug",
        "z": "eccd60802d954cb5",
        "name": "Payload combinado",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1200,
        "y": 360.0,
        "wires": []
    },
    {
        "id": "mqtt-out",
        "type": "mqtt out",
        "z": "eccd60802d954cb5",
        "name": "Enviar via MQTT",
        "topic": "airq/device/esp32_001",
        "qos": "",
        "retain": "",
        "broker": "mqtt-broker-config",
        "x": 1200,
        "y": 440.0,
        "wires": []
    },
    {
        "id": "inject-timer",
        "type": "inject",
        "z": "eccd60802d954cb5",
        "name": "Disparo a cada 60s",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 80,
        "wires": [
            [
                "filein-pm10"
            ]
        ]
    },
    {
        "id": "mqtt-broker-config",
        "type": "mqtt-broker",
        "name": "Broker MQTT",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true
    }
]